<p id="notice"><%= notice %></p>

<p>
  <strong>Poem kid:</strong>
  <%= @poem.poem_kid %>
</p>

<p>
  <strong>Text:</strong>
  <%= @poem.text %>
</p>

<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
