<p id="notice"><%= notice %></p>

<p>
  <strong>Bill kid:</strong>
  <%= @bill_word.bill_kid %>
</p>

<p>
  <strong>Word kid:</strong>
  <%= @bill_word.word_kid %>
</p>

<%= link_to 'Edit', edit_bill_word_path(@bill_word) %> |
<%= link_to 'Back', bill_words_path %>
