<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @bill.link %>
</p>

<p>
  <strong>Bill kid:</strong>
  <%= @bill.bill_kid %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
